.tribe-events-event-meta {
	width: 100% !important;
}

.cp_location-none {
	.location-show {
		display: none;
	}
}

.cp_location-found {
	.location-hide {
		display: none;
	}

	// hide subscribe dorpdown on location pages
	&:not(.single-tribe_events) .tribe-events-c-subscribe-dropdown__container {
		display: none !important;
	}
}

.cp_location-none {
	.site-footer-primary-section-1 {
		.widget:first-child {
			display: none;
		}
	}

	.footer-widget-area[data-section="sidebar-widgets-footer-widget-5"] {
		display: none !important;
	}
}

.tribe-events-single {
	.tribe-events-schedule {
		.tribe-events {
			order: 99;
			padding-top: var(--cp-gap--sm);
			align-self: center;

			@include media-breakpoint-up(sm) {
				margin-left: auto;
				padding-left: var(--cp-gap--md);
				padding-top: 0;
			}

			.tribe-events-c-subscribe-dropdown {
				margin: auto;
				display: flex;

				&__container,
				&__button {
					width: auto;
				}
			}
		}
	}
}

// styles for the hero row
div.fl-row.hero {

	.fl-photo-content {
		width: 100%;
	}

	@include media-breakpoint-up(sm) {
		.fl-col:first-child {
			.fl-module-content {
				margin-right: 1em;
			}
		}

		.fl-col:last-child {
			.fl-module-content {
				margin-right: -10rem;
			}

			img {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

	}

	@include media-breakpoint-down(sm) {

		.fl-module-photo {
			.fl-module-content {
				margin-right: 0;
			}
		}

		.fl-col:first-child {
			.fl-col-content {
				padding-bottom: 0;
			}
		}

		.fl-col:last-child {
			img {
				border-radius: 0;
			}
		}

		> .fl-row-content-wrap {
			padding-bottom: 4em;
		}

		.fl-col-group {
			display: flex;
			flex-direction: column-reverse;
		}
	}

}


.cp-not-live a[href$="/live/"] i {
	//display: none;
}

.cp-location-header {
	@extend %text-xlarge;
	height: 100%;
	display: block;

	@include media-breakpoint-up(sm) {
		border-left: 1px solid var(--cp-color-text-primary);
		padding-left: 1rem;
		line-height: 2;
	}
}

.cploc-map--locations--header {
	@include media-breakpoint-up(md) {
		background: var(--cp-color-text-primary);

			h2 {
				color: var(--cp-color-text-inverted) !important;
			}
	}

	h2 {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			height: 1px;
			width: 0.75em;
			background: currentColor;
			bottom: 0;
			left: 0;
		}
	}
}

.cploc-map-location {
	&--desc {
		@extend %text-em;
	}
}

#cploc_root {
	.leaflet-tooltip {
		@extend %text-em;
	}
}

.cploc-list {
	padding: var(--cp-gap--lg) 0;
	max-width: calc(var(--cp-content-width) - var(--cp-gap--md));
	margin: auto;
}

// main page menu customizations
.cp_location-none {
	.ast-builder-menu {
		display: none;
	}

	.ast-mobile-popup-inner {
		.ast-header-html-2 .ast-header-html {
			border-top: none;
		}
	}
}

.cpl-pg-template {
	margin-bottom: var(--cp-gap--md);

	.cpl-meta {

		> * {
			border: 1px solid var(--cp-color-ui-inverted-light);
			margin-right: -1px;
			padding: 0 var(--cp-gap-base);

			&:first-child {
				padding-left: 0;
				border-left: none;
			}

			&:last-child {
				border-right: none;
			}
		}
	}

	.cpl-info,
	.cpl-meta--speakers {
		@extend %text-xlarge;
		font-size: var(--cp-font-size--xs);
	}

	.cpl-single-type--items-title,
	.back-link {
		color: var(--cp-color-text-primary);
		font-style: italic;
	}

	.back-link {
		&:not(:hover) {
			text-decoration: underline;
		}
	}
}

.cpl-widget--single-item {
	a:not(:hover) {
		text-decoration: none !important;
	}
}


.fl-post-grid {

	&-post {

		&.tribe_events {

			// set title in the image container
			.fl-callout-photo-above-title {
				.fl-callout-title-wrap {
					margin: 0;
					position: relative;

					&-inner {
						position: absolute;
						width: 100%;
						left: 0;
						bottom: 100%;
					}
				}

				.fl-callout-title {
					position: relative;
					padding: var(--cp-gap--sm) var(--cp-gap--sm) var(--cp-gap-base) !important;
					z-index: 15;
					color: var(--cp-color-ui-inverted-light);

					a, a:hover {
						color: var(--cp-color-ui-inverted-light);
					}

					&:after {
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						background: var(--cp-color-ui-secondary);
						opacity: .8;
						left: 0;
						top: 0;
						z-index: -1;
					}
				}

				.fl-callout-text-wrap {
					margin: 0;
				}

			}

			.fl-callout {
				&-photo-left,
				&-photo-right {
					@include media-breakpoint-up('md') {
						.fl-callout-photo {
							width: 40.5%;
						}
					}
				}
			}
		}
	}
}

body {
	&.post-type-archive-cp_group {
		background-color: var(--wp--preset--color--white);
	}
}
.cp-groups-archive {
	.cp-group-item {
		border: 1px solid #F3F3F3;

		&:before{
			background: none;
		}

		.cp-group-item--type {
			display: none;
		}
	}
}

body .cp-group-item,
body .cp-group-single {
	&--locations {
		.cp-button {
			--cp-button--color: currentColor;
			--cp-button--color--hover: var(--cp-color-text-link);
			--cp-button--bg: transparent;
			--cp-button--bg--hover: transparent;
			--cp-button--border-color: transparent;
			--cp-button--border-color--hover: var(--cp-button--border-color);
			--cp-button--border-radius: var(--cp-border-radius-sm);
			--cp-button--padding: 0;
		}
	}
}

body:not(.cp_location-191) .cp-groups-filter .cp-groups-filter--cp_group_parish {
	display: none;
}

// Music Row
body.cp_location-191 {
	.cp-groups-filter--cp_group_category,
	.cp-groups-filter--cp_group_life_stage {
		display: none;
	}
}