@import "headings";

p {
	font-size: var(--cp-font-size);
	line-height: 1.5;
}

%text-xlarge, .text-xlarge {
	@extend %text-em;
	font-size: var(--cp-font-size--lg);
	text-transform: uppercase;
	letter-spacing: .08em;
}

%text-large, .text-large {
	font-weight: var(--cp-font-weight--light);
	font-size: var(--cp-font-size--lg);
	line-height: 1.5;
}

%text-small, .text-small {
	font-size: var(--cp-font-size--sm);
}

%text-xsmall, .text-xsmall {
	font-size: var(--cp-font-size--xs);
}

%text-em, .text-em {
	text-transform: uppercase;
	letter-spacing: .08em;
	line-height: 1.5;
	font-weight: var(--cp-font-weight--normal);
}
